/*Responsive CSS*/
@font-face {
	font-family: 'Conv_giza-onethree';
	src: url('../fonts/giza-onethree.eot');
	src: local('☺'), url('../fonts/giza-onethree.woff') format('woff'), 
	url('../fonts/giza-onethree.ttf') format('truetype'), 
	url('../fonts/giza-onethree.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media(max-width: 3000px){	
	.webversion{
		border-top: 1px solid #03a7e4;
	}
	
	.mid_wrapper{
		margin-bottom: 0px !important;
	}
	
	.fb-login{
		padding:0 5px 0 13px;
	}
	
	.logo{
		background:none  !important;
	}
	.worldwide_field_popup { 
		padding: 12px 15px; 
		box-shadow: 1px 1px 2px 0 #999; 
		border-radius: 4px;
	}

	.worldwide_field_popup .location_form .country_container select, 
	.worldwide_field_popup .location_form input[type="text"]{
		padding:5px 0; 
	}
}


@media(min-width:1740px) and (max-width:3000px) {
	.main_wrap {
		width: 1430px !important;
	}
	.creative_field_popup ul li a:hover{
		color:#06F !important;
	}
	.signin_area{
		position:absolute;
		right: 0;
	}
}


@media(max-width: 1740px){ 
	.creative_field_popup ul li{
		border-bottom: none !important;
	}
	.fullscreen_show{
		height:100%;
		width:100%;
		background:#ddd;
		position:absolute;
	}
}

@media(min-width:1500px) and (max-width:1739px) {
	.main_wrap {
		width: 1197px !important;
	}
}


@media(max-device-width: 1023px){
	.mm-list a.mm-subopen + a, .mm-list a.mm-subopen + span {
		margin-right: 0 !important;
		padding-right: 0 !important;
	}
	.no_translate{
		padding:40px 20px !important;
	}
	.map_popup {
		left: 830px;
		overflow: hidden;
		position: absolute;
		top: 72px;
		width: 10%;
	}
	.portfolio_banner {
		height: 280px !important;
		position: absolute;
		top: 90px;
		width: 50% !important;
	}
	.potfolio_featurearea {
		float: left;
		font-size: 13px;
		width: 100%  !important;
	}
	.potfolio_feat_text {
		float: right;
		margin-top: 77px;
		width: 34%;
	}
	.panelImageMap .mapLocationDescriptionPanel {
		float: right !important;
		left: 626px;
		position: absolute;
		top: 86px;
		width: 20% !important;
	}
	
	
	.locationMapViewPanel{
		border: none !important;
	}
	.search_icon{
		display:block !important;
		float:right;
	}
	.signin_area ul li a {
		background: none repeat scroll 0 0 #fff;
		color: #4583c4 !important;
		font-family: 'Conv_giza-onethree';
		font-weight: bold;
		margin-right: 5px;
		padding: 5px 50px;
		text-decoration: none;
		font-size:18px;
	}
	.tiny{
		position:fixed;
		z-index:999;
		display:block;
		overflow:hidden;
		width:100%;
	}
	.mobileVersion{
		position:fixed !important;
		z-index: 999 !important;
	}
	.tiny .signin_area{
		display:none;
	}
	html.mm-opened.mm-opening .mm-page, html.mm-opened.mm-opening #mm-blocker, html.mm-opened.mm-opening .mm-fixed-top, html.mm-opened.mm-opening .mm-fixed-bottom {
		left: 38% !important;
	}
	.mm-menu{
		background: #4485cc  !important;
		width: 38% !important;
	}
	
	.mm-list > li > a, .mm-list > li > span{
		border-bottom: 1px solid #fff !important;
		color: #fff !important;
		font-size: 16px !important;
		font-weight: bold;
		text-transform: uppercase;
		font-family: arial !important;
	}
	.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after{
		border-bottom-width: 0px !important;
	}
	
	.signin_area ul li{
		background: none !important;
		padding:0  !important;
	}

	.signin_area{
		float:none !important;
		margin:0 auto;
		border-radius: 6px !important;
		padding:10px 0;
		margin-bottom: 0  !important;
		padding: 10px !important;
		background:none !important;
	}
	#overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		filter:alpha(opacity=50);
		-moz-opacity:0.90;
		-khtml-opacity: 0.90;
		opacity: 0.90;
		z-index: 10000;
	}
	#overlay .popupContainer{
		padding:25px 0;
		text-align:center;
		background:#fff;
		display:block;
		width:100%;
		opacity:1 !important;
	}

	.codenegar_ajax_search_wrapper{
		display:none;
	}	
	.header_bg3 .main_wrap{
		text-align:center;
	}
	.f_test{
		display:inline-block !important;
	}
	.signin_area{
		text-align:center;
		position: static !important;
	}
	.signin_area ul li img{
		display:none;
	} 
	#codenegar_ajax_search_form .ajax_autosuggest_form_wrapper{
		border: none !important;
	}
	#codenegar_ajax_search_form .ajax_autosuggest_input{
		border: 2px solid #4485cc !important;
		border-radius: 17px  !important;
	}
	#overlay .popupContainer form{
		width: 47% !important;
		margin:0 auto !important;
	}
	#codenegar_ajax_search_form .ajax_autosuggest_submit, 
	.ajax_autosuggest_submit:hover, 
	.ajax_autosuggest_submit:active, 
	.ajax_autosuggest_submit:visited{
		top:3px;
	}
		
	.login-link img{
		display:none;
	}
	.webversion{
		display:none !important;
	}

	.mobileVersion {
		display: block !important;
	}
	.logo {
		float: none !important;
		margin: 10px auto 0 !important;
		width: 195px !important;
	}
	.view_map{
		background-color: #55acee;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
		border: 1px solid #3b88c3;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
		color: #fff;
		border-radius: 21px;
		float: left;
		font-weight: bold;
		margin: 0 auto;
		padding: 5px 15px;
		text-align: center;
		margin-top: 15px;
	}

}
	
	
	
@media(max-width: 768px){
	
	.signin_popup ul li a{
		background: none;
	}
	/*hide footer part*/
	.footer_wrapper{
		display:none;
	}
	.map_popup{
		width:100%;
		display:block;
		overflow:hidden;
		text-align:center;
		margin:0 auto;
	}

	.view_map:hover{
		background: none repeat scroll 0 0 #1d82f2;
	}
	
	.gm-style-mtc{
		display:none;
	}
	
	.locationMapViewPanel{
		border: none;
	}
	.mapHeadingArea{
		display:block;
		position:static !important;
	}
	#project_details_image_section_id .all-content-box .project-cover .cover-img a img{
		height:160px !important;
	}
	.potfolio_feat_text {
		padding: 0 20px;
	}
	.follow_area{
		margin: 0;
	}
	
	.no_left_box_mid{
		padding:0 !important;
		width:100%;
		margin:0 auto;
	}
	.porfolio_map{
		float:none !important;
	}
}
	
@media(min-width:727px) and (max-width:768px) {
	.panelImageMap .mapLocationDescriptionPanel {
		float: right !important;
		left: 368px;
		position: absolute;
		top: 62px;
		width: 28% !important;
	}
	.map_popup {
		left: 588px;
		overflow: hidden;
		position: absolute;
		top: 48px;
		width: 14% !important;
	}
	.portfolio_banner img {
		margin: 0 20px !important;
	}
	.follow_area{
		margin-bottom:10px !important;
	}
	/*28th update*/
	.potfolio_featurearea{
		width:100% !important;
	}
	
	.potfolio_feat_text{
		float:right;
		width:45%;
		margin-top:77px;
	}
	
	.potfolio_rightarea {
		margin: 0 20px  !important;
		width: 45%  !important;
		float: right !important;
	}
	
	.portfolio_banner{
		width:50% !important;
		height: 280px !important;
		position: absolute;
		top: 62px;
	}
	.locationMapViewPanel {
		padding-top: 0  !important;
	}
	/*end*/
	
	.gm-style > div > div {
			margin-top:280px  !important;
			margin-left: -120px  !important;
	}
	
	.box_mid {
		padding: 28px 38px 0 !important;
	}
	
	.mm-menu.mm-current{
		background: none repeat scroll 0 0 #4485cc;
	}
	.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after{
		 background: none repeat scroll 0 0 #FFFFFF;
	}
	.mm-list > li > a, .mm-list > li > span{
		color:#fff !important;
		font-weight:bold !important;
		text-transform:uppercase !important;
		background: none repeat scroll 0 0 #4485cc;
	}
	
	.signin_area ul li a {
		padding: 5px 40px !important;
		font-size:16px !important;
	}

	.header_bg3 .main_wrap .creative_area span.left,
	.header_bg3 .main_wrap .worldwide_area span.left{
		font-size:22px;
		color: #494e51;
	}
	
	.header_bg1{
		min-width:120px !important;
	}
	
	.header_bg1{
		min-height:80px !important;
	}
	
	.project_cover_hover_action{
		margin: 0 12px !important;
		width: 182px !important;
	}
	
	.custom_project_external_cover {
		display: block;
		margin: 0 auto;
		overflow: hidden;
		width: 619px;
	}


	.project_list
	{
		width: 622px;
		margin:0 auto;
		overflow:hidden;
		display:block;
	}
	
	.s_project_list,
	.project_details_image_section{
		width: 594px;
		margin:0 auto;
		overflow:hidden;
		display:block;
	}
	
	.box_mid{
		 padding: 28px 0 0 !important;
	}
	
	.header_bg1 {
		background: none repeat scroll 0 0 #4583c4;
		border-top: 2px solid #03516e;
		min-height: 88px;
	}
	
	.footer_wrapper{
		position: relative;
	}
}
	
@media(min-width:769px) and (max-width:1000px) {
		.project_list {
			display: block;
			margin: 0 auto;
			overflow: hidden;
			width: 696px;
		}
}

@media(min-device-width:1001px) and (max-device-width:1024px) {
	
	.mobileVersion {
		display: none;
	}
	.project_list{
		width: 868px;
		margin:0 auto;
		overflow:hidden;
		display:block;
	}
	.logo {
		margin: 15px auto 0 !important;
		width: 250px !important;
	}
	.project_list{
		width: 928px;
		margin:0 auto;
		overflow:hidden;
		display:block;
	}
	
	.s_project_list,
	.project_details_image_section{
		width: 875px;
		margin:0 auto;
		overflow:hidden;
		display:block;
	}
}


@media(max-device-width: 660px){
	#image_filter_area_id{
		text-align: center;
	}

	.potfolio_title{
		padding: 5px 10px;
		font-size:13px !important;
		color:#545454 !important;
	}
	
	
	
	.potfolio_featurearea{
		float:left !important;
	}
	.potfolio_rightarea{
		float:left !important;
	}
	 
	.panelImageMap .mapLocationDescriptionPanel {
		float: none !important;
		left: 18px !important;
		position: absolute;
		top: 55px !important;
	}
	.follow_area {
		margin-bottom: 10px !important;
	}
	.map_popup {
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 40px !important;
		width: 90px !important;
	}
	
	.potfolio_rightarea {
		margin: 65px 20px 0 !important;
		width: 45%  !important;
		float: right !important;
	}
	
	.potfolio_feat_text {
		float: right !important;
		margin-top: 76px !important;
    	width: 83% !important;
	}
	.mapHeadingArea{
		display:block;
		position:static !important;
	}
	.panelImageMap .portfolio_banner img{
		display:none  !important;
	}
	.gm-style > div > div {
		margin-top: 150px  !important;
		margin-left: -44px !important;
	}
	.search_icon{
		padding:12px 2px;
	}
	.header_bg1{
		min-height: 65px !important;
	}
	.mm-menu {
		width: 80% !important;
	}
	html.mm-opened.mm-opening .mm-page, html.mm-opened.mm-opening #mm-blocker, html.mm-opened.mm-opening .mm-fixed-top, html.mm-opened.mm-opening .mm-fixed-bottom {
		left: 80% !important;
	}
	.mm-menu.mm-current{
		background: none repeat scroll 0 0 #009BD4;
	}
	.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after{
		 background: none repeat scroll 0 0 #FFFFFF;
	}
	.mm-list > li > a, .mm-list > li > span{
		color:#fff !important;
		font-weight:bold !important;
		text-transform:uppercase !important;
		font-size: 12px;
	}
	.signin_area ul li a {
		padding: 7px 10px !important;
		font-size: 11px;
	}
	#overlay .popupContainer form{
   		width: 80% !important;
		margin: 0 auto !important;
	}
	.creative_field,
	.worldwide_field{
		position:static  !important;
	}
	.creative_field .creative_field_popup,
	.worldwide_field_popup{
		left: 0 !important;
		top: 10px !important;
		padding: 0 !important;
	}
	
	.worldwide_field_popup .location_form{
		padding:10px;
	}
	
	.creative_field_content_left,
	.creative_field_content_right,
	.creative_field_content_right .p_creativefield_wrapper,
	.worldwide_field_popup,
	.creative_field_popup{
		width:100%  !important;
	}
	
	.creative_field_popup ul li{
		background:#fff !important;
		padding:10px !important;
		border-top: 1px solid #ddd !important;
		border-bottom: 1px solid #ddd !important;
	}	
	.creative_field_content_left .populer_title,
	.creative_field_content_right .populer_title{
		border:none !important;
		padding: 5px;
		margin-bottom:0 !important;
	}
	.creative_area,
	.worldwide_area{
		font-size: 16px !important;
	}
	.map_reg_pc{
		width:95% !important;
		margin-left: 0px !important;	
	}
	
	#project_details_image_section_id .all-content-box{
		margin:0 auto;
		width:215px;
	}
	
	.s_project_list{
		display: block;
		margin: 0 auto;
		overflow: hidden;
		width: 388px;
	}
	
	.s_project_list .project-cover{
		float: left;
    	width: 120px;
	}
	.buy_now_btn{
		float:none !important;
		padding:4px 20px !important;
	}
	.add_to_my_wishlist{
		padding:4px 0 !important;
	}
	.single-projects .project-cover, .project_details_image_section .project-cover{
		padding:2px 0!important;
	}
	
}

@media(min-width:430px) and (max-width:671px) {
		.panelImageMap .mapLocationDescriptionPanel{
			width:60% !important;
		}
		.project_list,
		.custom_project_external_cover{
			width: 409px;
			margin:0 auto;
			overflow:hidden;
			display:block;
		}
		.project-cover {
			float: left !important;
			width: 120px !important;
		}
		
		.project_cover_hover_action{
			float: left !important;
			width: 120px !important;
			margin: 0 8px !important;
		}
		
		
		.box_mid{
			 padding: 28px 0 0 !important;
		}
		.s_project_list{
			display: block;
			margin: 0 auto;
			overflow: hidden;
			width: 408px;
		}
		#project_details_image_section_id .all-content-box{
			margin:0 auto;
			width:408px !important;
		}
		#cboxContent{
			width: 500px !important;
		}
		#cboxLoadedContent {
			width: 500px !important;
		}
		.map_popup {
			left: 400px;
			overflow: hidden;
			position: absolute;
			top: 40px !important;
			width: 90px !important;
		}
		.potfolio_featurearea{
			width:44% !important;
		}
}

@media(max-width: 429px){ 
	.custom_project_external_cover {
		display: block;
		margin: 0 auto;
		overflow: hidden;
		width: 263px !important;
	}
	.mapHeadingArea{
		height:41px;
		overflow-x:scroll;
	}
	.mid_wrapper{
		padding:10px 0 0 !important;
	}
	.potfolio_follow{
		width:38%;
	}
	.potfolio_follow img{
		width: 100%;
	}
	.social_area{
		width:58%;
	}
	.social_area img{
		width:20%;
	}
	.panelImageMap .mapLocationDescriptionPanel{
			width:50% !important;
	}
	#map{
		display:none;
	}
	.potfolio_feat_text {
		padding: 0;
	}
	.potfolio_featurearea{
		width:40% !important;
	}
	.map_popup {
		left: 180px !important;
		overflow: hidden;
		position: absolute;
		top: 40px !important;
		width: 90px !important;
	}
	.project_list{
		width: 263px !important;
		margin:0 auto;
		overflow:hidden;
		display:block;
	}
	.project-cover,
	.project_cover_hover_action{
		float: left !important;
		margin: 4px !important;
		width: 123px !important;
	}
	.s_project_list{
			display: block;
			margin: 0 auto;
			overflow: hidden;
			width: 278px !important;
	}	
	.box_mid {
		padding: 28px 0 0 !important;
	}
	#project_details_image_section_id .all-content-box {
		display: block;
		margin: 0 auto;
		overflow: hidden;
		width: 280px !important;
	}
	.single-projects .project-cover, .project_details_image_section .project-cover{
		margin:5px 8px !important
	}
	#cboxContent{
		width: 310px !important;
	}
	#cboxLoadedContent {
		width: 310px !important;
	}
}

@media(max-width: 320px){ 
	.worldwide_area{
		margin: 16px 0 0 0 !important;
	}
}